<title>{{ title_short }} | {{ instance_title }}</title>
<meta name="description" content="{{ title }}">
<meta property="og:type" content="{{ page_type }}" data-inserted="true">
<meta property="og:title" content="{{ title }}" data-inserted="true">
<meta property="og:image" content="{{ image_url | safe }}" data-inserted="true">
<meta property="og:site_name" content="{{ instance_title }}" data-inserted="true">
{% if atom_url is not none %}
<link rel="alternate" type="application/atom+xml" href="{{ atom_url | safe }}">
{% endif %}
