#!/usr/bin/make -f

export DEB_BUILD_OPTIONS=noautodbgsym

%:
	dh $@

# https://manpages.debian.org/testing/debhelper/dh_installsystemd.1.en.html
override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable
