# Caddyfile for Mitra
# copy this file to /etc/caddy/Caddyfile and edit `example.tld`

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

example.tld {
	header Strict-Transport-Security "max-age=63072000"
	reverse_proxy :8383
}
