# This compose file is used for development
services:
  database:
    image: pgautoupgrade/pgautoupgrade:15-bookworm
    restart: always
    environment:
      POSTGRES_PASSWORD: mitra
      POSTGRES_USER: mitra
      POSTGRES_DB: mitra
    ports:
      - "55432:5432"
    volumes:
      - postgres_database:/var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

  # https://github.com/sethforprivacy/simple-monerod-docker
  monerod:
    profiles:
      - monero
    image: ghcr.io/sethforprivacy/simple-monerod:v0.18.4.4
    ports:
      - "58081:18081"
    command:
      - --regtest
      - --offline
      - --no-igd
      - --fixed-difficulty=1
      - --rpc-bind-ip=0.0.0.0
      - --confirm-external-bind
    volumes:
      - monero_blockchain:/home/monero/.bitmonero

  # https://github.com/sethforprivacy/simple-monero-wallet-rpc-docker
  monero-wallet-rpc:
    profiles:
      - monero
    image: ghcr.io/sethforprivacy/simple-monero-wallet-rpc:v0.18.4.4
    depends_on:
      - "monerod"
    ports:
      - "58083:18083"
    command:
      - --daemon-address=monerod:18081
      - --trusted-daemon
      - --allow-mismatched-daemon-version
      - --rpc-bind-port=18083
      - --disable-rpc-login
      - --wallet-dir=/home/monero/wallet
    volumes:
      - monero_wallets:/home/monero/wallet

volumes:
  postgres_database:
  monero_blockchain:
  monero_wallets:
