services:
  database:
    image: postgres:13-bullseye
    restart: always
    environment:
      POSTGRES_PASSWORD: mitra
      POSTGRES_USER: mitra
      POSTGRES_DB: mitra
    ports:
      - "55432:5432"
    volumes:
      - postgres_database:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z
    restart: always
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  # https://github.com/sethforprivacy/simple-monerod-docker
  monerod:
    profiles:
      - monero
    image: ghcr.io/sethforprivacy/simple-monerod:v0.18.3.4
    ports:
      - "58081:18081"
    command:
      - --regtest
      - --offline
      - --no-igd
      - --fixed-difficulty=1
      - --rpc-bind-ip=0.0.0.0
      - --confirm-external-bind
    volumes:
      - monero_blockchain:/home/monero/.bitmonero

  # https://github.com/sethforprivacy/simple-monero-wallet-rpc-docker
  monero-wallet-rpc:
    profiles:
      - monero
    image: ghcr.io/sethforprivacy/simple-monero-wallet-rpc:v0.18.3.4
    depends_on:
      - "monerod"
    ports:
      - "58083:18083"
    command:
      - --daemon-address=monerod:18081
      - --trusted-daemon
      - --allow-mismatched-daemon-version
      - --rpc-bind-port=18083
      - --disable-rpc-login
      - --wallet-dir=/home/monero/wallet
    volumes:
      - monero_wallets:/home/monero/wallet

volumes:
  postgres_database:
  minio_data:
  monero_blockchain:
  monero_wallets:
